<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FamilyFinance.Properties.Settings.FamilyConnectionString"
            connectionString="Data Source=dell-PC\SQLEXPRESS;Initial Catalog=Family;Persist Security Info=True;User ID=sa;Password=mwq1992414"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>